<div class="row">
  <div class="col-xs-11">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#files" role="tab" data-toggle="tab">Arquivos</a></li>
      <li><a href="#upload" role="tab" data-toggle="tab">Upload</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class='col-xs-12'>
    <div class="tab-content">

      <div class="tab-pane active" id="files">
        <div class='folder-menu col-xs-2' data-folder-menu>
          <ul></ul>
        </div>
        <div class='col-xs-10' data-image-container>
          <ul></ul>
        </div>
      </div>

      <div class="tab-pane" id="upload">
        <form action="/mediadrawer/api/media" method="POST" enctype="multipart/form-data">
          <div class="row">
            <div class="col-xs-8">
              <div class="row">
                <div class="col-xs-12">
                  <input type="file" name="file">
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-xs-12">
                  <input type="url" name="link">
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <button class="btn btn-default" data-async-submit data-success-fn="uploadSuccess" data-progress-fn='uploadProgress'>Upload</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <progress style="display: none"></progress>
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>