<!DOCTYPE html>
<html>
<head>
  <title>Mediadrawer</title>
  <%= stylesheet_link_tag    "mediadrawer/application", media: "all" %>
  <%= javascript_include_tag "mediadrawer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
