/*
 *= require_tree ./mediadrawer
 */

 ul.sidebar-nav li.active .fa-folder-o:before {content:"\f115" !important;}

 ul li .active { }

ul {         
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul.thumbnails li  {     
  list-style:none;
  margin-bottom:25px;           
}

ul.thumbnails li.active img  {     
  background-color: #3071a9;     
}

div.folder-menu ul li { list-style: none;  }
/* div.folder-menu ul li.active i { background-color: #3071a9; border-color: #285e8e; border: 1px solid transparent; border-radius: 4px;  padding: 2px;}
div.folder-menu ul li i, a { color: #fff; } */